backend/venv/
backend/__pycache__/
backend/**/*.csv
backend/**/*.pkl
backend/**/*.h5
backend/**/*.keras
backend/**/*.pth
backend/**/*.joblib
backend/**/*.sqlite
backend/**/*.db
*__pycache__
*node_modules
*app_backup
